html, body {
	margin: 0;
	padding: 0;
	height: 100%;

}

.containerTop {
	display: flex;
	width: 100%;
	justify-content: space-around;

}

.flex1 {
	flex-direction: row;
	height: 100px;
	width: 150px;
	padding: 20px;
}

.redBox {
	background-color: red;
}

.blueBox {
	background-color: blue;
}

.greyBox {
	background-color: grey;
}

.containerText {
	display: flex;
	width: 100%;
	padding: 20px 50px;
	margin: 0 auto;

}
.flexText {
	width: 100px;
	margin: 0 auto;
}

.containerMiddle {
	display: flex;
	width: 100%;
}

.flex2 {
	display: inline-block;
   
    justify-content: space-between;
    flex-grow: 1;

}

.middleLeft {
	background-color: red;
	height: 100px;
	width: 25%;
	margin-left: 15px;
}

.middleRight {
	background-color: blue;
	height: 100px;
	width: 75%;
	margin-right: 10px;
}
.containerFooter {
	display: flex;
	width: 100%;
	padding-top: 20px;
}

.flex3 {
	display: inline-block;
	justify-content: space-between;
	height: 150px;
	width: 100%;
}

.footerBackground {
	background-color: blue;
	width: 75%;
	margin-left: 15px;
}

.footerRed1 {
	background-color: red;
	width: 5%;
}

.footerGrey {
	background-color: grey;
	width: 15%;
}
.footerRed2 {
	background-color: red;
	width: 5%;
}
